# Since this is a git repository placed in the /home/user directory, I've escluded
# everything but the desidered files: 

/*
!/.gitignore 

## .config directory 
##

!/.config
/.config/**

# files in $HOME directory
!/README.md
!/.bash_profile
!/.profile

## dirs...
!/.config/sway/
!/.config/sway/**
!/.config/waybar/
!/.config/waybar/**
!/.config/alacritty/
!/.config/alacritty/**
## stand-alone files
!/.config/user-dirs.dirs
!/.config/user-dirs.locale
